<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Patients List</title>
</head>
<body>
    <h1>Patients</h1>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Age</th>
                <th>Gender</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="patient : ${patients}">
                <td th:text="${patient.id}"></td>
                <td th:text="${patient.name}"></td>
                <td th:text="${patient.age}"></td>
                <td th:text="${patient.gender}"></td>
            </tr>
        </tbody>
    </table>
</body>
</html>
